---
import Layout from '../layouts/Layout.astro';
import '@/components/globals.css'
import { Button } from "$lib/components/ui/button"
---

<Layout title="KUNET">
	<main>
		<Button variant="default"> boop</Button>
	</main>
</Layout>
