---
import Layout from '../layouts/layout.astro';
import '@/components/globals.css'
---

<Layout title="kunet">
	<main class="flex flex-col gap-5 w-screen h-screen justify-center items-center text-center p-8">
		<h1 class="text-4xl">under construction, <b class="drop-shadow-glow">to unite the universe.</b></h1>
	</main>
</Layout>
